/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-next{
    left:3% ;
    z-index: 1;
} */

body { 
background-color: #F5F5F5;

}
.slick-prev {
    left: 3% !important;
    z-index: 1;
    font-size: 30px;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}